h1 {
    text-align: center;
    margin-top: 10px;
}

body {
    max-width: 1000px;
    background-color: rgb(167, 161, 161);
    margin:auto;
    border: 5px solid black;
}
.cooler {
    text-align: center;
    font-weight: bold;
}

html {
    background-image: url(https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-attachment: fixed;
    background-position: 0%;
    background-size: 100%;   
}

div {
    margin-left: 8px;
}

h3 {
    margin-left: 8px;
}

p {
   margin-left: 8px;  
}

dd {
    margin: auto;
    
}

dt {
    margin-top:10px;
   
}

button {
    color: black;
    border: 3px solid black;
    padding: 5px;
}

button:active{
    box-shadow: 0 3px black;
    transform: translateY(4px);
}



table, td, th {
    border-collapse: collapse;
    margin: 15px;
    padding: 10px;
}